*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100vw;
    height : 5vh;
    background-color : black;
}
footer {
    width: 100vw;
    height : 5vh;
    background-color : black;
}
.containers {
    width: 100vw;
    height : 90vh;
    margin-top : 60px;
    /* outline: 1px solid red; */
}
.containers h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height : 50px;
    font-size : 6em;
}
#map {
    margin-bottom: 20px;
}
#input {
    width: 85%;
    height: 50px;
    border: 2px solid #ccc;
    padding-left: 1em;
    margin-right: 5px;
}
#submit {
    width: 10%;
    height: 50px;
    margin-bottom: 20px;
}
